/*
    - min screen height the website is responsive for is about 620px
*/

@font-face {
    font-family: lora;
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

$TXT1: black;
$black50: rgba(0, 0, 0, 0.5);
$white: white;

#cursor{
    font-family: manrope;
    text-align: center;
    pointer-events: none;
    z-index: 10;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    transition: all ease-in-out .5s;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
*::-webkit-scrollbar {
    display: none;
}
*{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

*{
    box-sizing: border-box; margin: 0;
}

h1{
    color: $TXT1;
    font-family: manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h2, h3{
    color: $TXT1;
    font-family: manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 12.8px;
}
h3{
    letter-spacing: 2px;
}
a{
    color: $TXT1;
    text-align: center;
    font-family: lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
p{
    color: $TXT1;
    font-family: Lora;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

html{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding: 50px 0 0 0;
}
body{
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    padding: 0px 128px;
    justify-content: space-between; align-items: center;
    align-items: center;
    flex-shrink: 0;
    @media screen and (max-width: 1500px) {
        padding: 128px;
       justify-content: center;
    }
    @media screen and (max-width: 600px) {
        padding: 64px;
    }
    #mobile-description{
        //display: none;
        /*position: fixed !important;
        bottom: 0px; top: 0px !important; 
        height: 100vh;*/
        display: flex; flex-direction: column; gap: 32px; text-align: center; align-items: center !important; padding-top: calc(50% - 512px);
        #description-text{
            width: 512px;
            cursor: default;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 36px;
            align-self: stretch;
            #title{
                padding-right: 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }
        }
        #socials{
            width: 100%;
            color: black;
            display: flex;
            justify-content: center;
            gap: 40px;
            align-self: stretch;
        }
        #socials a{
            transition: all ease-in-out .3s;
            opacity: 0.5;
        }
    }
    #description{
        position: sticky; 
        bottom: calc(50% - 140px); top: calc(50% - 140px); 
        display: flex;
        height: 280px; width: 380px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1500px) {
            display: none;
        }
        #description-text{
            cursor: default;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            align-self: stretch;
            #title{
                padding-right: 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }
        }
        #socials{
            display: flex;
            align-items: center;
            gap: 40px;
            align-self: stretch;
        }
        #socials a{
            transition: all ease-in-out .3s;
            opacity: 0.5;
        }
        #socials a:hover{
            opacity: 1;
            color: black;
            //text-decoration: underline;
        }

    }
    #mobile-description{
        display: none !important;
        @media screen and (max-width: 1500px) {
            display: block !important;
        }
    }
    #projects{
        transition: all ease-in .5s;
        //transform-origin: top left;
        transform: translateY(150vh);
        //scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px; 
        //padding: 40vh 0px;
        @media screen and (max-width: 1500px) {
            width: 100%;
        }
        .project{
            display: flex; flex-direction: column; gap: 8px;
            scroll-behavior: smooth;
            transition: all 1000ms cubic-bezier(0.925, 0.015, 0.180, 0.970); /* custom */
            transition-timing-function: cubic-bezier(0.925, 0.015, 0.180, 0.970); /* custom */
            scale: 0.8; 
            opacity: 0.5;
            //height: calc(50vh + 394.59px); 
            min-height: 60vh;
            display: flex; align-items: center; justify-content: center;
            .project-img-wrap{
                cursor:  default;
                width: 700px; height: 364px;
                position: relative;
                @media screen and (max-width: 1500px) {
                    width: 100%; height: auto;
                    max-width: 700px; max-height: 364px;
                }
                .project-title{
                    z-index: -1;
                    position: absolute;
                    transition: all ease-in-out .5s;
                    top: 0px;
                }
                .project-title-active{
                    top: -22px;
                }

                .project-index{
                    z-index: -1;
                    position: absolute;
                    transition: all ease-in-out .5s;
                    rotate: -90deg;
                    left: 0px;
                }
                .project-index-active{
                    left: -22px;
                }
                img{
                    cursor: none;
                    width: 100%; height: 100%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                .project-desacription{
                    display: none;
                }
            }
            }
        .active{
            scale: 1; opacity: 1 !important;
        }
    }
}
